<div *ngIf="!isFormPage" class="landing-page">
  <div class="content">
    <h1>Welcome to Budget Tracker</h1>
    <p class="intro-text">Take control of your finances. Start saving smart and track your expenses effectively.</p>
    <blockquote class="quote">"A penny saved is a penny earned." - Benjamin Franklin</blockquote>
    <div class="action-buttons">
      <button class="action-button action-button-primary" [routerLink]="['/register']">Register</button>
      <button class="action-button action-button-secondary" [routerLink]="['/login']">Log In</button>
    </div>
  </div>
</div>
<div *ngIf="isFormPage">
  <router-outlet></router-outlet>
</div>
