<div class="form-page">
  <div class="form-container">
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username">
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
      </div>
      <button type="submit">Register</button>
      <button type="button" (click)="goBack()">Back</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>

