.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.financial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  margin-top: 100px;

}

.welcome-message {
  font-size: 2em;
  color: #a54c87;
  margin-bottom: 10px;
  text-align: center;
  display: block;

}

.financial-message {
  align-self: flex-start;
  font-size: 4em;
  font-weight: bold;
  color: #a54c87;
  margin: 90px 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 1.3;

}

.financial-message span {
  display: block;
  margin-bottom: 35px;

}

.icon-container {
  right: 370px;
  top: 280px;
  position: absolute;

}

.icon-container i {
  font-size: 15em;
  color: #a54c87;

}

.definitions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-top: 90px;

}

.definition {
  background: rgba(249, 249, 249, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;

}

.definition h2 {
  font-size: 2em;
  color: #a54c87;
  margin-bottom: 10px;

}

.definition p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6em;
}

.user-info {
  margin-bottom: 20px;
}

.actions-menu {
  margin-top: 3px;

}

.actions-menu h2 {
  margin-bottom: 10px;
  color: #007bff;
}

.actions-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 5px;

}

.actions-menu ul li a,
.actions-menu ul li button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff69b4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;

}

.actions-menu ul li a:hover,
.actions-menu ul li button:hover {
  background-color: #a54c87;

}


.expenses-overview,
.motivational-quote {
  margin-top: 20px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.motivational-quote p {
  font-size: 1.5em;
  margin: 10px 0;
}

.motivational-quote em {
  font-size: 1em;
  color: #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font: inherit;
}